
.board{
display: flex;
margin: auto;
margin-top: 50px;
width: 75vw;
}


.player-board{
    margin: auto;
}

.box-container{
    margin-top: 50px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 48px;
    height: 48px;
    border: 1px solid black;
    background-color: #aad0db;
}

.box:hover{
    opacity: 50%;
    cursor: pointer;
}

.red{
    background-color: red;
}

.black{
    background-color: #202020;
}

.dark-gray{
    background-color: gray;
}

.winner{
    margin: auto;
    text-align: center;
    color: red;
}

@media (max-width: 1350px) {
    .board{
        flex-flow: column;
        }
  }

@media (max-width: 600px) {

    .box-container{
        width: 250px;
        height: 250px;
    }

    .box{
        width: 23px;
        height: 23px;
    }
  }